<div class="grid-y">
  <h1>New article</h1>
  
  <div class="input-group">
    <%= form_for(@article) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "input-group-field" %>
      <%= f.label :content %>
      <%= f.text_field :content %>
      <div class="input-group-button">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to "(Go back)", articles_path %>
  </div>
</div>